### **1) Scan n values in range 0-3 and print the number of times each value has occurred.**

In [1]:
n=int(input("Enter n: "))
a=[int(input()) for i in range(n)]
for i in range(4):
    print(i,"occurred:",a.count(i),"times")

0 occurred: 1 times
1 occurred: 2 times
2 occurred: 1 times
3 occurred: 1 times

### **2) Create a tuple to store n numeric values and find the average of all values.**

In [2]:
n=int(input("Enter n: "))
t=tuple(float(input()) for i in range(n))
print("Tuple:",t)
print("Average:",sum(t)/n)

Tuple: (10.0, 20.0, 30.0)
Average: 20.0

### **3) WAP to input a list of scores for N students in a list data type. Find the score ofthe runner-up and print the output.**

**Sample Input**

**N = 5**

**Scores= 2 3 6 6 5**

**Sample output**

**5**

**Note: Given list is [2, 3, 6, 6, 5]. The maximum score is 6, second maximum is 5. Hence, we print 5 as the runner-up score.**

In [5]:
n = int(input("Enter n: "))
scores = list(map(int, input("Enter scores: ").split()))

scores = list(set(scores))   # remove duplicates
scores.sort()

if len(scores) > 1:
    print("Runner-up:", scores[-2])
else:
    print("Runner-up not possible (all scores are same)")

Runner-up: 5

### **4) Create a dictionary of n persons where key is name and value is city.**

**a. Display all names**

**b. Display all city names**

**c. Display student names and cities of all students.**

**d. Count the number of students in each city.**

In [7]:
n=int(input("Enter n: "))
d={input("Name: "):input("City: ") for i in range(n)}
print("Names:",list(d.keys()))
print("Cities:",list(d.values()))
print("City Count:",{c:list(d.values()).count(c) for c in set(d.values())})

Names: ['Pratishtha', 'Kiran']
Cities: ['Haridwar', 'Kotdwar']
City Count: {'Haridwar': 1, 'Kotdwar': 1}

### **5) Store details of n movies in a dictionary by taking input from the user. Each movie must store details like name, year, director name, production cost, collection made (earning) & perform the following :-**

**a. print all movie details**

**b. display name of movies released before 2015**

**c. print movies that made a profit.**
**d. print movies directed by a particular director.**

In [17]:
n=int(input()); m={}
for i in range(n): m[input("Movie: ")]=[int(input("Year: ")),float(input("Cost: ")),float(input("Collection: "))]
print("All Movies:",m)
print("Before 2015:",[k for k,v in m.items() if v[0]<2015])
print("Profit Movies:",[k for k,v in m.items() if v[2]>v[1]])

All Movies: {'The Notebook': [2004, 200.0, 3.72]}
Before 2015: ['The Notebook']
Profit Movies: []