### 2. Print strings in given number
(a) Hello Everyone !!!

In [1]:
print("Hello Everyone !!!")

Hello Everyone !!!

(b) Hello<br>World

In [2]:
print("Hello")
print("World")

Hello
World

(c) Hello
       <br> \tworld </br>

(c) Hello  
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;World

In [5]:
print("Hello")
print("    World")

Hello
    World

(d) 'Rohit's date of birth is 12\05\1999'

In [11]:
print("'Rohit's date of birth is 12\\05\\1999'")

'Rohit's date of birth is 12\05\1999'

### 3. Declare string variable x and assign it the value "Hello". Print out the value of x

In [12]:
x = "Hello"
print(x)

Hello

### 4. Take different data types and print values using print function.

In [13]:
name = "Pratishtha"   
age = 20              
height = 5.4       
is_student = True    

print(name)
print(age)
print(height)
print(is_student)

Pratishtha
20
5.4
True

### 5. Take two variables, a and b. Assign your first name and last name. Print your Name after adding your First name and Last name together.

In [14]:
a = "Pratishtha"
b = "Amoli"

print(a + " " + b)

Pratishtha Amoli

### 6. Declare three variables, consisting of your first name, your last name and Nickname. Write a program that prints out your first name, then your nickname in parenthesis and then your last name. Example output: George (woody) Washington.

In [15]:
first = "Pratishtha"
nickname = "Pihu"
last = "Amoli"

print(first + " (" + nickname + ") " + last)

Pratishtha (Pihu) Amoli

### 7. Declare and assign values to suitable variables and print in the following way:
<br>NAME: NIKUNJ BANSAL</br>
<br>SAP ID: 500069944</br>
<br>DATE OF BIRTH: 13 Oct 1999<br>
<br>ADDRESS: UPES</br>
<br>Bidholi Campus</br>
<br>Pincode: 248007</br>
<br>Programme: AI & ML</br>
<br>Semester: 2</br>

In [16]:
name = "NIKUNJ BANSAL"
sap_id = 123456789
dob = "01 Jan 2005"
address = "UPES"
campus = "Bidholi Campus"
pincode = 248007
programme = "AI & ML"
semester = 2

print("NAME:", name)
print("SAP ID:", sap_id)
print("DATE OF BIRTH:", dob)
print("ADDRESS:", address)
print("        ", campus)
print("        Pincode:", pincode)
print("Programme:", programme)
print("Semester:", semester)

NAME: NIKUNJ BANSAL
SAP ID: 123456789
DATE OF BIRTH: 01 Jan 2005
ADDRESS: UPES
         Bidholi Campus
        Pincode: 248007
Programme: AI & ML
Semester: 2